<!DOCTYPE html>
<html>
   <head>
      <title>TigerBall Event Details</title>
   </head>
   {% if error_msg|length > 0 %}
      <body>
         <h1>Event Details</h1>
         <p>
            {{error_msg}}
         </p>
         <hr>
         Created by Nikhil Ajjarapu, Rishi Dange, and Avi Gewirtz.
         <hr>
      </body>
   {% else %}
      <body>
         <h1>Event Details</h1>
         <hr>

         <h2>Event ID {{eventid}}</h2>
         <strong>Sport:</strong> {{details[0][0]}}
         <br>
         <strong>Location:</strong> {{details[0][1]}}
         <br>
         <strong>Date:</strong> {{details[0][2]}}
         <br>
         <strong>Start Time:</strong> {{details[0][3]}}
         <br>
         <strong>End Time:</strong> {{details[0][4]}}
         <br>
         <strong>Visibility:</strong> {{details[0][5]}}
         <br>
         <strong>Organizer:</strong> {{details[0][6]}}
         
         <hr>

         <h2>Participants</h2>
         {% for part in details[1]: %}
            {{part}}
            <br>
         {% endfor %}
         
         <hr>

         <h2>Add Participant</h2>
         <form action="eventdetails?event_id={{event_id}}" method="post">
            <table>
               <tr>
                  <td style = "text-align: right">
                     NetID:
                  </td>
                  <td>
                     <input type="text" name="participant_id" value="{{participant_id}}">
                  </td>
               </tr>
               <tr>
                  <td>
                  </td>
                  <td>
                     <input type="submit" value="Submit">
                  </td>
               </tr>
            </table>
         </form>

         <hr>

         <p>
            Click here to do <a href="/?dept={{dept}}&coursenum={{coursenum}}&area={{area}}&title={{title}}">another class search</a>.<br>
         </p>

         <hr>
         
         Created by Nikhil Ajjarapu, Rishi Dange, and Avi Gewirtz.
         
         <hr>
      </body>
   {% endif %}
</html>
