<!DOCTYPE html>
<html>
   <head>
      <title>TigerBall Event Details</title>
   </head>
   {% if error_msg|length > 0 %}
      <body>
         <h1>Event Details</h1>
         <h1>
            id: {str(event_id)}
         </h1>
         <p>
            {{error_msg}}
         </p>
         <hr>
         Created by Nikhil Ajjarapu, Rishi Dange, and Avi Gewirtz.
         <hr>
      </body>
   {% else %}
      <body>
          <form action="?event_id={{event_id}}" method="post">
            <table>
                <tr>
                    <td>
                        <input type="submit" name="Accept" value="Accept">
                    </td>
                    <td>
                        <input type="submit" name="Decline" value="Decline">
                    </td>
                    <td>
                        <input type="submit" name="Undecided" value="Undecided">
                    </td>
                </tr>
            </table>
          </form>
         <hr>

         


         <h2>Event ID {{event_id}}</h2>
         <strong>Sport:</strong> {{details[0][0]}}
         <br>
         <strong>Location:</strong> {{details[0][1]}}
         <br>
         <strong>Date:</strong> {{details[0][2]}}
         <br>
         <strong>Start Time:</strong> {{details[0][3]}}
         <br>
         <strong>End Time:</strong> {{details[0][4]}}
         <br>
         <strong>Visibility:</strong> {{details[0][5]}}
         <br>
         <strong>Organizer:</strong> {{details[0][6]}}
         
         <hr>

         <h2>Participants</h2>
         {% for part in details[1]: %}
            {{part}}
            <br>
         {% endfor %}
         
         <hr>

         <hr>

         <p>
            Click here to do <a href="/">another event search</a>.<br>
         </p>

         <hr>
         
         Created by Nikhil Ajjarapu, Rishi Dange, and Avi Gewirtz.
         
         <hr>
      </body>
   {% endif %}
</html>
