*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(230, 176, 76);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}

header aside {
    display: flex;
    align-items: center;
}

header aside p:nth-of-type(1) {
    padding-left: 5px;
}

header section aside {
    padding: 10px;
    background-color: gainsboro;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 20px;
}

header section aside p {
    padding-right: 10px;
}

header section aside, .events div i {
    font-size: 25px;
}

header section {
    display: flex;
}

main {
    margin: 30px 20px;
}

main span {
    color: gray;
}

strong {
    font-weight: bold;
    font-size: 30px;
    padding:0 10px 0 30px;
}

a {
    color: black;
    text-decoration:none;
}

.events {
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 176, 76);
    text-align: center;
}

.events div {
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
   
}

.events div button {
    border: 0;
    outline: 0;  
    background-color: rgb(230, 176, 76);
    font-size: 25px;
}

.main-content {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    background-color: gainsboro;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.main-content i {
    font-size: 30px;
}

.main-content div {
    padding-left: 10px;
}

.line {
    border-bottom: 3px solid gray;
    max-width: 30px;
}

.main-content div p {
    padding: 4px 0;
}

#mainOrg {
    padding: 0 10px;
}

.org {
    position: relative;
    right: -40%;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px 4px;
    background-color: rgb(230, 176, 76);
    color: white;
}

.box-container {
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 10px;
}

.box-header {
    border-bottom: 2px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.box-header i {
    cursor: pointer;
}

.box-header * {
    padding: 10px 30px;
}

.box-inner {
    max-width: 700px;
    margin: 20px auto;
}

.box-inner p {
    font-weight: bold;
}

.box-inner section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.box-inner span {
    position: relative;
    right: 30%;
}

.box-left, .box-right {
    margin: 30px 0;
}

.box-left aside, .box-right aside {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.box-left label, .box-right label  {
    float: left;
    width: 40%;
}

.box-inner section input {
    width: 60%;
    padding: 5px;
    background-color: gainsboro;
    border: 0;
}

.box-right aside:nth-of-type(2) *{
    margin: 0 5px;
}

.box-inner section:nth-of-type(9) {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
}

.box-inner section:nth-of-type(9) input {
    width: inherit;
}

.box-button {
    max-width: 200px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(230, 176, 76);
    cursor: pointer;
    text-align: center;
}

.box-button button {
    border: 0;
    background-color: rgb(230, 176, 76);
}

