<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pend.css') }}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>Tigerball</title>
</head>
<body>
    <header>
        <a href="index">
            <aside>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <p>tigerball</p>
            </aside>
        </a>

        <section>
            <a href="/">
                <aside>
                    <p>homepage</p>
                    <i class="fa fa-home" aria-hidden="true"></i>
                </aside>
            </a>
        </section>
    </header>

    <div class="box-container">
        <div class="box-header">
            <h3>create event</h3>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <form action="create" method="post" class="box-inner">
            <section>
                <div class="box-left">
                    <aside>
                        <label>sport</label>
                        <select id="sport_c" name="sport_c">
                            <option value="basketball">Basketball</option>
                            <option value="soccer">Soccer</option>
                            <option value="spikeball">Spikeball</option>
                         </select>
                    </aside>

                    <aside>
                        <label>location</label>
                        <input type="text" name="location_c" value="{{location_c}}">
                    </aside>

                    <aside>
                        <label>Skill Level</label>
                        <select id="skill_level_c" name="skill_level_c">
                            <option value="no preference">No Preference</option>
                            <option value="beginner">Beginner</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                         </select>
                    </aside>
                </div>

                <div class="box-right">
                    <aside>
                        <label>date</label>
                        <input type="date" name="date_c" value="{{date_c}}">
                    </aside>

                    <aside>
                        <label>Start & end time</label>
                        <input type="time" name="start_time_c" value="{{start_time_c}}">
                        <input type="time" name="end_time_c" value="{{end_time_c}}">
                    </aside>

                    <aside>
                        <label>capacity</label>
                        <input type="number" name="capacity_c" value="{{capacity_c}}">
                    </aside>
                </div>
            </section>
            <!-- <section>
                <label>invities</label>
                <input type="text" name="add"><br>
            </section>
            <p class="add">add netid seperated by one space</p> -->
            <section id="sector">
                <p>
                    <input type="radio" id="pub" name="visibility_c" value="public">
                    <label for="pub">Public</label><br>
                </p>

                <p>
                    <input type="radio" id="pri" name="visibility_c" value="private">
                    <label for="pri">Private</label><br>
                </p>
            </section>

            <div class="box-button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>