<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pend-3.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main-3.css') }}" type="text/css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>Tigerball</title>
</head>
<body>
    <header>
        <a href="/homepage">
            <aside>
                <p>tigerball</p>
            </aside>
        </a>

        <section>
            <div id="createbutton">
                <aside>
                    <p>Create Group</p>
                    <i class="fa fa-plus-circle popbtn" aria-hidden="true"></i>
                </aside>
            </div>
            <a href="myevents">
                <aside>
                    <p>My Events</p>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </aside>
            </a>
        </section>



    </header>

    <div class="box-container">
        

        <form action="creategroup" method="post" class="box-inner">
            <section>
                <div class="box-left">

                    <aside>
                        <label>Group Name</label>
                        <input type="text" name="groupname" value="{{groupname}}">
                    </aside>

                </div>

                <div class="box-right">
                    <aside>
                        <label>Other Members</label>
                        <input type="text" name="members" value="{{members}}">
                    </aside>
                </div>
            </section>
            <!-- <section>
                <label>invities</label>
                <input type="text" name="add"><br>
            </section>
            <p class="add">add netid seperated by one space</p> -->

            <div class="box-button">
                <input type="submit" class="createsubmit" value="create group">
            </div>
        </form>
    </div>
</body>
</html>