<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pend-3.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main-3.css') }}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>    
    <div class="box-header">
        <h3>register for {{details[0].get_organizer()}}'s {{details[0].get_visibility()}} event</h3>
        <i class="fa fa-times close" class="close" data-dismiss="modal" aria-hidden="true" id="close-button"></i>
    </div>

    <form class="box-inner" id="register" action="/eventdetails?event_id={{event_id}}" method="post">
        <div class="event-container">
            <p>response</p>
            <div class="events">
                <input type="submit" class="accept" name="Accept" value="Accept">
                <input type="submit" class="decline" name="Decline" value="Decline">
                <input type="submit" class="undecide" name="Undecided" value="Undecided">
            </div>
        </div>
    

        <section>
            <div class="box-left" id="registerBox">
                <aside>
                    <label>Sport</label>
                    <p>{{details[0].get_sport()}}</p>
                </aside>

                <aside>
                    <label>Location</label>
                    <p>{{details[0].get_location()}}</p>
                </aside>

                <aside>
                    <label>Skill Level</label>
                    <p>{{details[0].get_skill_level()}}</p>
                </aside>
            </div>

            <div class="box-right" id="registerBox">
                <aside>
                    <label>Date</label>
                    <p>{{details[0].get_date().strftime('%-m/%-d')}}</p>
                </aside>

                <aside>
                    <label>Start & end time</label>
                    <p>{{details[0].get_starttime().strftime('%I:%M %p')}} - {{details[0].get_endtime().strftime('%I:%M %p')}} </p>
                </aside>

                <aside>
                    <label>Sign Ups</label>
                    <p>{{details[0].get_participant_count()}}/{{details[0].get_capacity()}}</p>
                </aside>
            </div>
        </section>
            <p>Attendees</p>
        <section>
            <label>Attending</label>
            <p>
                {% for part in details[1]: %}
                    {% if part == details[1][details[1]|length -1]: %}
                    {{part}}
                    {% else %}
                    {{part}},
                    {% endif %}
                {% endfor %} 
            </p>
        </section>
    </form>
</body>
</html>

