<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./event.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <header>
        <aside>
            <i class="fa fa-futbol-o" aria-hidden="true"></i>
            <p>tigerball</p>
        </aside>

        <section>
            <aside>
                <p>create event</p>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </aside>
            <aside>
                <p>homepage</p>
                <i class="fa fa-home" aria-hidden="true"></i>
            </aside>
        </section>
    </header>

    <main>
        <strong>my events</strong><span>see all events you're organizing and have responded to</span>

        <div class="events">
            <div>
                <button type="button">Attending</button>
                <i class="fa fa-check-square" aria-hidden="true"></i>
            </div>

            <div>
                <button type="button">Unsure</button>
                <i class="fa fa-question" aria-hidden="true"></i>
            </div>

            <div>
                <button type="button">Not Attending</button>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>

        <div class="main-content">
            <i class="fas fa-basketball-ball"></i>
            <div>
                <p>Public Spikeball Game</p>
                <div class="line"></div>
                <p>2/4 People &#8901; 4/1 &#8901; 9:15 pm - 10:00 pm</p>
            </div>
        </div>

        <div class="main-content" id="mainOrg">
            <i class="fas fa-basketball-ball"></i>
            <div>
                <p>Public Basketball Game</p>
                <div class="line"></div>
                <p>5/10 People &#8901; 4/1 &#8901; 9:15 pm - 10:00 pm</p>
            </div>
            <p class="org">organizer</p>
        </div>

        <div class="main-content">
            <i class="fas fa-basketball-ball"></i>
            <div>
                <p>Private Football Game</p>
                <div class="line"></div>
                <p>2/4 People &#8901; 4/6 &#8901; 7:15 pm - 08:30 pm</p>
            </div>
        </div>
    </main>
</body>
</html>