<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pend.css') }}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
    <title>Tigerball</title>
</head>
<body>
    <header>
        <a href="/">
            <aside>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <p>TigerBall</p>
            </aside>
        </a>
        
    

        <section>
            <a href="create">
                <aside>
                    <p>create event123</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </aside>
            </a>
            <a href="myevents">
                <aside>
                    <p>my events</p>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </aside>
            </a>
        </section>
    </header>

    <main>
        <h2>pending invites</h2>

        {% for pending_event in pending_events: %}
        <a href="eventdetails?event_id={{pending_event.get_event_id()}}">
            <div class="main-content">
                <!-- <i class="fas fa-basketball-ball"></i> -->
                <span class="emoji">
                    {% if pending_event.get_sport() == 'basketball' %}
                    &#127936;
                    {% elif pending_event.get_sport() == 'soccer' %}
                    &#9917;
                    {% elif pending_event.get_sport() == 'spikeball' %}
                    &#128993;
                    {% elif pending_event.get_sport() == 'football' %}
                    &#127944;
                {% endif %}
                </span>
                <div>
                    <p>{{pending_event.get_visibility()}} {{pending_event.get_sport()}} game</p>
                    <div class="line"></div>
                    <p>{{pending_event.get_participant_count()}}/{{pending_event.get_capacity()}} People &#8901; {{pending_event.get_date()}} &#8901; {{pending_event.get_starttime().strftime("%I:%M %p")}} - {{pending_event.get_endtime().strftime("%I:%M %p")}}</p>
                </div>
            </div>
        </a>
        
        {% endfor %}

        <!-- FILTER OPEN EVENTS -->
        <form action="index" method="get">
            <div class="main-container">
                <div class="main-inner">
                    <div>
                        <label for="sport_f">Sport</label><br>
                        <select name="sport_f" id="sport_f">
                            <option value=""></option>
                            <option value="basketball">Basketball</option>
                            <option value="soccer">Soccer</option>
                            <option value="spikeball">Spikeball</option>
                        </select>
                    </div>
                    <div class="line2"></div>
                </div>

                    <div class="main-inner">
                        <div>
                            <label for="skill_level_f">Skill Level</label><br>
                            <select name="skill_level_f" id="skill_level_f">
                                <option value="no preference">Mixed</option>
                                <option value="beginner">Beginner</option>
                                <option value="intermediate">Intermediate</option>
                                <option value="advanced">Advanced</option>
                            </select>
                        </div>
                    <div class="line2"></div>
                </div>

                <div class="main-inner">
                    <div>
                        <label for="capacity_f">Capacity &#8804;</label><br>
                        <input type="number" id="capacity_f" name="capacity_f" value="{{capacity_f}}">
                    </div>
                    <div class="line2"></div>
                </div>

                <div class="main-inner">
                    <div>
                        <label for="date">Date:</label><br>
                        <input type="date" id="date_f" name="date_f" value="{{date_f}}">
                    </div>
                    <div class="line2"></div>
                </div>

                <div class="main-inner">
                    <div>
                        <label for="start_time_f">Availability (start)</label><br>
                        <input type="time" id="start_time_f" name="start_time_f" value="{{start_time_f}}">
                    </div>
                    <div class="line2"></div>
                </div>

                <div class="main-inner">
                    <div>
                        <label for="end_time_f">Availability (end)</label><br>
                        <input type="time" id="end_time_f" name="end_time_f" value="{{end_time_f}}">
                    </div>
                    <div class="line2"></div>
                </div>

                <div class="main-inner">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                </div>
            </div>
        </form>
            

        <h2>open events</h2>

    {% for event in events: %}
        {% if event.get_organizer() == username %}
        <a href="eventupdate?event_id={{event.get_event_id()}}">
        {% else %}
        <a href="eventdetails?event_id={{event.get_event_id()}}">
     {% endif %}
            <div class="main-content">
                <span class="emoji">
                    {% if event.get_sport() == 'basketball' %}
                    &#127936;
                    {% elif event.get_sport() == 'soccer' %}
                    &#9917;
                    {% elif event.get_sport() == 'spikeball' %}
                    &#128993;;
                    {% elif event.get_sport() == 'football' %}
                    &#127944;
                    {% endif %}    
                </span>
                            
                <div>
                    <p>{{event.get_visibility()}} {{event.get_sport()}} game</p>
                    <div class="line"></div>
                    <p>{{event.get_participant_count()}}/{{event.get_capacity()}} People &#8901; {{event.get_date()}} &#8901; {{event.get_starttime()}} - {{event.get_endtime()}}</p>
                </div>
            </div>
        </a>
        {% endfor %}

    </main>

</body>
</html>