<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="updatedEventValue" content="{{updatedEventValue}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='pend-3.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main-3.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

    <title>Pending Invites and Open Events - TigerBall</title>
</head>
<body>
    <header id="myheader">     
          <a href="/">
            <aside>
                <img src="{{url_for('static', filename='tigerball_logo.png')}}" id="headerLogo"/>
                <p id="logotext">tigerball</p>
            </aside>
        </a>

        <section>
            <div id="createbutton">
                <aside>
                    <p>create event</p>
                    <i class="fa fa-plus-circle popbtn" aria-hidden="true"></i>
                </aside>
            </div>
            <a href="profile">
                <aside>
                    <p>profile</p>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </aside>
            </a>
        </section>
    </header>


    <main>
        {% if pending_events|length > 0: %}
        <div>
            <h2 style="display:inline">pending invites</h2>
            <span style="display:inline" >you've got invites — respond to them when you can!</span>
        </div>
        
        {% endif %}

        {% for pending_event in pending_events: %}
        <div class="main-content popbtn" data-id='{{pending_event.get_event_id()}}'>
            <span class="emoji">
                {% if pending_event.get_sport() == 'basketball' %}
                &#127936;
                {% elif pending_event.get_sport() == 'soccer' %}
                &#9917;
                {% elif pending_event.get_sport() == 'spikeball' %}
                &#128993;
                {% elif pending_event.get_sport() == 'football' %}
                &#127944;
                {% endif %}    
            </span>
            <div>
                <p>{{pending_event.get_visibility()}} {{pending_event.get_sport()}} game</p>
                <div class="line"></div>
                <p>{{pending_event.get_participant_count()}}/{{pending_event.get_capacity()}} People &#8901; {{pending_event.get_date().strftime('%-m/%-d')}} &#8901; {{pending_event.get_starttime().strftime("%I:%M %p")}} - {{pending_event.get_endtime().strftime("%I:%M %p")}}</p>
            </div>
        </div>
        {% endfor %}

        
        
        <form action="index" method="get" class="search"> 
            <div class="search-inputs">
              <label for="sports"> 
                <div class="label">Sport</div>
                <select name="sport" id="sports"  class="form-control">
                    <option value="none"></option>
                    <option value="basketball">Basketball</option>
                    <option value="spikeball">Spikeball</option>
                    <option value="soccer">Soccer</option>
                    <option value="football">Football</option>
                </select>
              </label>
              
            </div>
            <div class="search-inputs">
              <label for="skill"> 
                <div class="label">Skill Level</div>
                <select name="skill_level" id="skill" class="form-control">
                    <option value="no preference">Mixed</option>
                    <option value="begin">Beginner</option>
                    <option value="advance">Advanced</option>
                    <option value="intermediate">Intermediate</option>
                </select>
              </label>
            </div>

            <div class="search-inputs">
                <label for="capacity"> 
                  <div class="label">Capacity &#8804;</div>
                  <input type="number" id="capacity" name="capacity" min="1" class="form-control"/>
                </label>
              </div>

            <div class="search-inputs">
              <label for="date"> 
                <div class="label">Date:</div>
                <input type="date" id="date" name="date" min="{{date}}" class="form-control"/>
              </label>
            </div>
            <div class="search-inputs">
              <label for="starts"> 
                <div class="label">Availability (start)</div>
                <input type="time" id="start" name="start_time" min="{{time}}" class="form-control"/>
              </label>
            </div>
            <div class="search-inputs">
                <label for="end"> 
                  <div class="label">Availability (end)</div>
                  <input type="time" id="end" name="end_time" class="form-control"/>
                </label>
              </div>
            <div class="search-button">
              <button class="btn" type="submit"><i class="fas fa-search fa-xs"></i>Search</button>
            </div>
        </form>
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
        <h2 style="display:inline">open events</h2>
        <span style="display:inline">join any of these public events</span>
        
        {% for event in events: %}
        <div class="main-content popbtn" data-id='{{event.get_event_id()}}'>
            <span class="emoji">
                {% if event.get_sport() == 'basketball' %}
                &#127936;
                {% elif event.get_sport() == 'soccer' %}
                &#9917;
                {% elif event.get_sport() == 'spikeball' %}
                &#128993;
                {% elif event.get_sport() == 'football' %}
                &#127944;
                {% endif %}    
            </span>
            <div>
                <p>{{event.get_visibility()}} {{event.get_sport()}} game</p>
                <div class="line"></div>
                <p>{{event.get_participant_count()}}/{{event.get_capacity()}} People &#8901; {{event.get_date().strftime('%-m/%-d')}} &#8901; {{event.get_starttime().strftime('%I:%M %p')}} - {{event.get_endtime().strftime('%I:%M %p')}}</p>
            </div>
            {% if event.get_organizer() == username %}
            <p class="org">organizer</p>
            {% endif %}

        </div>
        {% endfor %}

        {% if events|length == 0 %}
        <p> No events of this category found </p>
        {% endif %}
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- Update event -->

    </main>

    <div class="box-container popal boxModal" id="boxModal">   
        <div class="popal-content">
            <div class="modal-body"></div>
        </div>
    </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- Create Event -->


    <div class="box-container popal boxModal" id="create">
        <div class="popal-content">
            <div class="box-header">
                <h3>create event</h3>
                <i class="fa fa-times close" class="close" data-dismiss="modal" aria-hidden="true" id="close-button"></i>
            </div>

            <form action="create" method="post" class="box-inner" id="create-form">
                <section>
                    <div class="box-left">
                        <aside>
                            <label>sport</label>
                            <select id="sport_c" name="sport_c" class="form-control">
                                <option value="basketball">Basketball</option>
                                <option value="soccer">Soccer</option>
                                <option value="spikeball">Spikeball</option>
                             </select>
                        </aside>
    
                        <aside>
                            <label>location</label>
                            <input type="text" name="location_c" value="{{location_c}}" class="form-control" required>
                        </aside>
    
                        <aside>
                            <label>Skill Level</label>
                            <select id="skill_level_c" class="form-control" name="skill_level_c">
                                <option value="no preference">No Preference</option>
                                <option value="beginner">Beginner</option>
                                <option value="intermediate">Intermediate</option>
                                <option value="advanced">Advanced</option>
                             </select>
                        </aside>
                    </div>
    
                    <div class="box-right">
                        <aside>
                            <label>date</label>
                            <input type="date" name="date_c" value="{{date_c}}" min="{{date}}" class="form-control timing" id="event_date" required>
                        </aside>
    
                        <aside>
                            <label>Start & end time</label>
                            <input type="time" class="form-control timing" name="start_time_c" value="{{start_time_c}}" id="start_time" required>
                            <input type="time" class="form-control timing" name="end_time_c" value="{{end_time_c}}" id="end_time" required>
                        </aside>
                        <div id="timingerror"></div>
                        <aside>
                            <label>capacity</label>
                            <input type="number" class="form-control" name="capacity_c" value="{{capacity_c}}" min="1">
                        </aside>
                    </div>
                </section>
                <!-- <section>
                    <label>invities</label>
                    <input type="text" name="add"><br>
                </section>
                <p class="add">add netid seperated by one space</p> -->
                <section id="sector">
                    <p>
                        <input type="radio" id="pub" name="visibility_c" value="public" required>
                        <label class="radiolabel" for="pub">Public</label><br>
                    </p>
    
                    <p>
                        <input type="radio" id="pri" name="visibility_c" value="private" required>
                        <label class="radiolabel" for="pri">Private</label><br>
                    </p>
                </section>
    
                <div class="box-button" id="submitbutton">
                    <input type="submit" class="createsubmit" value="Submit">
                </div>
                 </form>
        </div> 
    </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

<!-- <div class="box-container popal boxModal" id="error">
    <div class="popal-content">
        <div id="timingerror"></div>
    </div>
</div> -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"</script>

<script>
    'use strict';

    function handleGetEventDetailsResponse(response)
    {
        $('.modal-body').html(response);
        $('#boxModal').modal('show');
    }

    let request = null;

    function getEventDetails()
    {   
        let event_id = $(this).data('id');

        event_id = encodeURIComponent(event_id)

        let url = 'eventdetails?event_id=' + event_id

        if (request != null)
            request.abort();

        request = $.ajax(
            {
            type: 'GET',
            url: url,
            success: handleGetEventDetailsResponse
            }
        );
    }

    function handleCheckTimesResponse(response)
    {
        $('#timingerror').html(response)
    }

    function checkTimes()
    {

        let start_time = $('#start_time').val();
        let end_time = $('#end_time').val();
        let event_date = $('#event_date').val();

        start_time = encodeURIComponent(start_time)
        end_time - encodeURIComponent(end_time)
        event_date = encodeURIComponent(event_date)

        // alert(start_time + end_time + event_date);
        
        
        let url = '/checktiming?start_time=' + start_time + '&end_time=' + end_time + '&event_date=' + event_date

        if (request != null)
            request.abort();
        
        request = $.ajax(
            {
            type: 'GET',
            url: url,
            success: handleCheckTimesResponse
            });

    }

    

    function setup()
    {   // CHECK START TIME BEFORE END TIME
        $('.timing').on('input', checkTimes);

        // HOVER OVER EVENT
        $('.popbtn').hover(function(){
            $(this).css('cursor', 'pointer');
        })

        $('#createbutton').hover(function(){
            $(this).css('cursor', 'pointer');
        })

        // OPEN MODAL IF CLICKED
        $('.popbtn').click(getEventDetails);

        // CLOSE MODAL IF CLICK OFF
        $(document).on('click', function(e){
            if(!(($(e.target).closest("#boxModal").length > 0 )
            || ($(e.target).closest(".close").length > 0)))
            {
                $("#boxModal").hide();
            }
        });

        
        // AUTO OPEN IF JUST UPDATED
        if (updatedEventValue != 0)
        {   
            let event_id = $('meta[name="updatedEventValue"]').attr("content");
            event_id = encodeURIComponent(event_id)

        let url = 'eventdetails?event_id=' + event_id

        if (request != null)
            request.abort();

        request = $.ajax(
            {
            type: 'GET',
            url: url,
            success: handleGetEventDetailsResponse
            }
        );
            
        }
        // CREATE
        $('#createbutton').on('click', function() {
            $('#create').modal('show');
        });
        
    }
 

    $('document').ready(setup);
    $('document').ready(function () {

    

    });

    var updatedEventValue = $('meta[name="updatedEventValue"]').attr("content");
 
</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>