<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pend.css') }}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <header>
        <aside>
            <i class="fa fa-futbol-o" aria-hidden="true"></i>
            <p>tigerball</p>
        </aside>

        <section>
            <aside>
                <p>create event</p>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </aside>
            <aside>
                <p>homepage</p>
                <i class="fa fa-home" aria-hidden="true"></i>
            </aside>
        </section>
    </header>

    <main>
        <h2>pending invites</h2>

        <div class="main-content">
            <i class="fas fa-basketball-ball"></i>
            <div>
                <p>Private Basketball Game</p>
                <div class="line"></div>
                <p>3/6 People &#8901; 3/29 &#8901; 7:00 pm - 8:30 pm</p>
            </div>
        </div>

        <div class="main-content">
            <i class="fa fa-futbol-o" aria-hidden="true"></i>
            <div>
                <p>Public Soccer Game</p>
                <div class="line"></div>
                <p>5/10 People &#8901; 3/29 &#8901; 9:00 pm - 10:30 pm</p>
            </div>
        </div>

        <div class="main-container">
            <div class="main-inner">
                <div>
                    <label for="sports">Sport</label><br>
                    <select name="sports" id="sports">
                        <option value="soccer">Soccer</option>
                        <option value="baseball">Baseball</option>
                        <option value="basketball">Basketball</option>
                        <option value="football">Football</option>
                    </select>
                </div>
                <div class="line2"></div>
            </div>

                <div class="main-inner">
                    <div>
                        <label for="skill">Skill Level</label><br>
                        <select name="skill" id="skill">
                            <option value="begin">Beginner</option>
                            <option value="advance">Advanced</option>
                            <option value="intermediate">Intermediate</option>
                        </select>
                    </div>
                <div class="line2"></div>
            </div>

            <div class="main-inner">
                <div>
                    <label for="date">Date:</label><br>
                    <input type="date" id="date" name="date">
                </div>
                <div class="line2"></div>
            </div>

            <div class="main-inner">
                <div>
                    <label for="start">Availability (start)</label><br>
                    <input type="time" id="start" name="start">
                </div>
                <div class="line2"></div>
            </div>

            <div class="main-inner">
                <div>
                    <label for="end">Availability (end)</label><br>
                    <input type="time" id="end" name="end">
                </div>
                <div class="line2"></div>
            </div>

            <div class="main-inner">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search" aria-hidden="true"></i>
               </button>
            </div>
        </div>

        <h2>open events</h2>

        <div class="main-content">
            <i class="fas fa-basketball-ball"></i>
            <div>
                <p>Public Spikeball Game</p>
                <div class="line"></div>
                <p>2/4 People &#8901; 4/1 &#8901; 9:15 pm - 10:00 pm</p>
            </div>
        </div>

        <div class="main-content">
            <i class="fas fa-basketball-ball"></i>
            <div>
                <p>Private Basketball Game</p>
                <div class="line"></div>
                <p>5/10 People &#8901; 4/1 &#8901; 9:15 pm - 10:00 pm</p>
            </div>
        </div>
    </main>

    <div class="box-container">
        <div class="box-header">
            <h3>register for event</h3>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <form class="box-inner">
            <div class="event-container">
                <p>response:</p>
                <div class="events">
                    <button type="button">yes</button>   
                    <button type="button">unsure</button>
                    <button type="button">no</button>
                </div>
            </div>
            <section>
                <div class="box-left">
                    <aside>
                        <label>sport</label>
                        <input type="text" name="sport">
                    </aside>

                    <aside>
                        <label>location</label>
                        <input type="text" name="location">
                    </aside>

                    <aside>
                        <label>Skill Level</label>
                        <input type="text" name="skill">
                    </aside>
                </div>

                <div class="box-right">
                    <aside>
                        <label>date</label>
                        <input type="date" name="date">
                    </aside>

                    <aside>
                        <label>Start & end time</label>
                        <input type="time" name="time">
                        <input type="time" name="time">
                    </aside>

                    <aside>
                        <label>sign ups</label>
                        <input type="text" name="cap">
                    </aside>
                </div>
            </section>
                <p>attendees</p>
            <section>
                <label>yes</label>
                <input type="text" name="yes">
            </section>
            <section>
                <label>maybe</label>
                <input type="text" name="maybe">
            </section>
            <section>
                <label>no</label>
                <input type="text" name="no">
            </section>
            <section>
                <label>hasn't responded</label>
                <input type="text" name="res">
            </section>

            <section>
                <p>
                    <input type="radio" name="pub" value="pub">
                    <label for="pub">Public</label><br>
                </p>

                <p>
                    <input type="radio" id="pri" name="pri" value="pri">
                    <label for="pri">Private</label><br>
                </p>
            </section>
        </form>
    </div>
</body>
</html>