<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='event.css') }}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
    <title>Profile</title>
</head>
<body>
    <header>
        <a href="/">
            <aside>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <p>tigerball</p>
            </aside>
        </a>

        <section>
            <a href="/creategroup">
                <aside>
                    <p>create group</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </aside>
            </a>
            <a href="/">
                <aside>
                    <p>homepage</p>
                    <i class="fa fa-home" aria-hidden="true"></i>
                </aside>
            </a>
        </section>
    </header>

    <main>
        <strong>username: {{username}}</strong>

        <strong>
            my groups:
        </strong>

        {% for group in groups: %}
             <a href="groupdetails?group_id={{group[0]}}">
                 <div class="main-content">
                     </span>
                     <div>
                         <p>group id: {{group[0]}}</p>
                         <div class="line"></div>
                         <p>
                         group name: {{group[1]}}</p>
                     </div>
                 </div>
             </a>
        {% endfor %}
    </main>
</body>
</html>