<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='pend-3.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main-3.css') }}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <title>Profile - TigerBall</title>
</head>
<body>
    <header id="myheader">
        <a href="/">
            <aside>
                <img src="{{url_for('static', filename='tigerball_logo.png')}}" id="headerLogo"/>
                <p id="logotext">tigerball</p>
            </aside>
        </a>

        <section>
            <div id="createbutton">
                <aside>
                    <p>create group</p>
                    <i class="fa fa-users" aria-hidden="true"></i>
                </aside>
            </div>
            <a href="myevents">
                <aside>
                    <p>my events</p>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </aside>
            </a>
        </section>
    </header>

    <main>
        <h2>username: {{username}}</h2>

        <h2>
            my groups:
        </h2>
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->


        {% for group in groups: %}
        <div class="main-content popbtn" data-id='{{group[0]}}'>
            <div class="groupdetails">
                <p>group id: {{group[0]}}</p>
                <div class="line"></div>
                <p>group name: {{group[1]}}</p>
            </div>
            <p class="org">Add members</p>
        </div>

        {% endfor %}
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->


    </main>

    <div class="box-container popal boxModal" id="create">
        <div class="popal-content">
            <div class="box-header">
                <h3>Create Group</h3>
                <i class="fa fa-times close" aria-hidden="true"></i>
            </div>

            <form action="creategroup" method="post" class="box-inner">
                <section>
                    <div class="box-left">
        
                        <aside>
                            <label>group name</label>
                            <input type="text" name="groupname" value="{{groupname}}">
                        </aside>
        
                    </div>
        
                    <div class="box-right">
                        <aside>
                            <label>other members</label>
                            <input type="text" name="members" value="{{members}}">
                        </aside>
                    </div>
                </section>
                <!-- <section>
                    <label>invities</label>
                    <input type="text" name="add"><br>
                </section>
                <p class="add">add netid seperated by one space</p> -->
        
                <div class="box-button">
                    <input type="submit"  class="createsubmit"value="create group">
                </div>
            </form>         
        </div> 
    </div>



<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
    <div class="box-container popal boxModal" id="groupdetails">
        <div class="popal-content">
            <div class="modal-body"></div>
        </div>
    </div>



    

    <!-- ------------------------------------------------------------------------------------------------------------------------------ -->

        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        'use strict';

        function handleGroupDetailsResponse(response)
        {
            $('.modal-body').html(response);
            $('#groupdetails').modal('show');
        }

        let request = null;

        function groupDetails()
        {
            let group_id = $(this).data('id');

            group_id = encodeURIComponent(group_id)

            let url = 'groupdetails?group_id=' + group_id

            if (request != null)
                request.abort();

            request = $.ajax(
                {
                type: 'GET',
                url: url,
                success: handleGroupDetailsResponse
                }
            );
        }
        
        
        function setup()
        {
            // HOVER OVER EVENT
            $('.popbtn').hover(function(){
            $(this).css('cursor', 'pointer');
            })

            // OPEN MODAL IF CLICKED
            $('.popbtn').click(groupDetails);


            // CLOSE MODAL IF CLICK OFF
            $(document).on('click', function(e){
                if(!(($(e.target).closest("#boxModal").length >  0 )
                || ($(e.target).closest(".close").length > 0)))
                {
                    $("#boxModal").hide();
                }
            });

            // CLOSE MODAL
            $(".close").on('click', function(){
                $("#boxModal").modal('hide');
            });

            // CREATE
            $('#createbutton').on('click', function() {
                $('#create').modal('show');
            });

        }
        

        $('document').ready(setup);
    
    </script>

   

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>